[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-python = "*"
pillow = "*"
numpy = "*"
scikit-learn = "*"
jupyterlab = "*"
pytesseract = "*"
scikit-image = "*"
alto-xml = "*"
chandra-ocr = "*"

[dev-packages]

[requires]
python_version = "3.10"
